{% extends "layout.html" %}
{% block body %}
  <h1 class="page-header">Clienti</h1>
  <p>
    <form method="POST" action="{{ url_for('cerca_cliente') }}">
      <label for="nominativo">Cerca per nominativo:</label>&nbsp;
      <input type="text" name="query" value="" />&nbsp;
      <input type="submit" class="btn btn-primary btn-md" value="Cerca" />
    </form>
  </p>
  <br />
  <div class="table-responsive">
    <p><a href="{{ url_for('nuovo_cliente') }}" type="button" class="btn btn-success btn-sm">Nuovo cliente</a></p>
    <table class="table table-striped">
      <tr>
		<th>rag. sociale</th>
		<th>cod. fiscale</th>
		<th>P.IVA</th>
		<th>indirizzo</th>
		<th>tel</th>
		<th>email</th>
		<!--<th>&nbsp;</th>-->
		  </tr>
		  {% for cliente in clienti %}
		<tr>
		<td><a href="{{ url_for('cliente', id=cliente.id) }}" title='Scheda Cliente'>{{ cliente.ragsoc }}</a></td>
		<td>{{ cliente.cod_fisc }}</td>
		<td>{{ cliente.p_iva }}</td>
		<td>{{ cliente.indirizzo }}</td>
		<td>{{ cliente.tel }}</td>
		<td>{{ cliente.email }}</td>
<!-- 		<td><a href="{{ url_for('fatture_cliente', id=cliente.id, page=0) }}" type="button" class="btn btn-default btn-sm">Modifica</a></td> -->
		</tr>
		  {% else %}
		<li><em>Nessun cliente.</em>
		  {% endfor %}
	  </table>
  </div>
  <ul class="pager">
    {% if page > 0 %}
    <li><a href="{{url_for('clienti', page=page-1) }}">Pag. precedente</a></li>
    {% endif %}
    {% if page < last_page %}
    <li><a href="{{url_for('clienti', page=page+1) }}">Pag. successiva</a></li>
    {% endif %}
  </ul>
  <p align="center">Pagina {{ page+1 }} di {{ last_page+1 }}</p>
  
{% endblock %}