{% extends "layout.html" %}
{% block body %}
  <h3 class="page-header">Clienti</h3>
  <p>
    <form method="POST" action="{{ url_for('cerca_cliente') }}" class="form-inline" id="formCercaClienti">  
		<div id="custom-search-input">
			<div class="input-group col-md-5">
				<input type="text" class="form-control input-md" name="query" value="{{ query if query else '' }}" 
					placeholder="cerca per nominativo" />
				<span class="input-group-btn">
					<button class="btn btn-info btn-md" type="button" 
							onclick="document.getElementById('formCercaClienti').submit();">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
			<!-- <div class="input-group col-md-1">	 -->
				<!-- <button class="btn btn-danger btn-md" type="button"> -->
					<!-- <i class="glyphicon glyphicon-remove-sign">&nbsp;</i> -->
			<!-- </div> -->
			<div class="input-group col-md-5">
				<a href="{{ url_for('nuovo_cliente') }}" class="btn btn-success btn-md">
					<span class="glyphicon glyphicon-plus-sign"></span> Nuovo cliente 
				</a>
			</div>
		</div>
    </form>
  </p>
  <br />
	<div style="text-align:center; font-weight: bold;">
		Trovati {{ cnt }} risultati {% if query %}<a href="{{ url_for('annulla_ricerca_cliente') }}">annulla ricerca</a>{% endif %}
	</div><br />
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
		<th>rag. sociale</th>
		<th>cod. fiscale</th>
		<th>P.IVA</th>
		<th>indirizzo</th>
		<th>tel</th>
		<th>email</th>
		<!--<th>&nbsp;</th>-->
		  </tr>
		  {% for cliente in clienti %}
		<tr>
		<td><a href="{{ url_for('cliente', id=cliente.id) }}" title='Scheda Cliente'>{{ cliente.ragsoc }}</a></td>
		<td>{{ cliente.cod_fisc }}</td>
		<td>{{ cliente.p_iva }}</td>
		<td>{{ cliente.indirizzo }}</td>
		<td>{{ cliente.tel }}</td>
		<td>{{ cliente.email }}</td>
<!-- 		<td><a href="{{ url_for('fatture_cliente', id=cliente.id, page=0) }}" type="button" class="btn btn-default btn-sm">Modifica</a></td> -->
		</tr>
		  {% else %}
		<li><em>Nessun cliente.</em>
		  {% endfor %}
	  </table>
  </div>
  <ul class="pager">
    {% if page > 0 %}
    <li><a href="{{url_for('clienti', page=page-1) }}">Pag. precedente</a></li>
    {% endif %}
    {% if page < last_page %}
    <li><a href="{{url_for('clienti', page=page+1) }}">Pag. successiva</a></li>
    {% endif %}
  </ul>
  <p align="center">Pagina {{ page+1 }} di {{ last_page+1 }}</p>
  
{% endblock %}