{% extends "layout.html" %}
{% block body %}
  <h1 class="page-header">
  {%  if cliente != None %}Anagrafica cliente{% else %}Inserisci cliente{% endif %}
  </h1>
    <div class="panel-group">
      <div class="panel panel-primary">
	<div class="panel-heading">
	{%  if cliente != None %}
	  {{ cliente.ragsoc }}
	{% else %}
	  Nuovo cliente
	{% endif %}
	</div>
	<div class="panel-body">
	  <form method="POST" action="{%  if cliente == None %}{{ url_for('nuovo_cliente') }}{% else %}{{ url_for('salva_cliente') }}{%  endif %}">
	    {%  if cliente != None %}
	    <div class="form-group">
	      <label for="codice">codice:</label>
	      <input type="text" class="form-control" name="id" value="{{ cliente.id }}" readonly="readonly" />
	    </div>
	    {%  endif %}
	    <div class="form-group">
	      <label for="ragione_sociale">Nominativo/ragione sociale</label>
	      <input type="text" class="form-control" name="ragione_sociale" value="{{ cliente.ragsoc if cliente != None else '' }}" />
	    </div>
	    <div class="form-group">
	      <label for="indirizzo">Indirizzo</label>
	      <input type="text" class="form-control" name="indirizzo" value="{{ cliente.indirizzo if cliente != None else '' }}" />
	    </div>
	    <div class="form-group">
	      <label for="cap">CAP</label>
	      <input type="text" name="cap" class="form-control" value="{{ cliente.cap if cliente != None else '' }}" />
	    </div>
	    <div class="form-group">
	      <label for="citta">Citta</label>
	      <input type="text" class="form-control" name="citta" value="{{ cliente.citta if cliente != None else '' }}" />
	    </div>
	    <!--<div class="form-group">
	      <label for="provincia">Provincia</label>
	      <input type="text" class="form-control" name="provincia" value="{{ cliente.provincia if cliente != None else '' }}" />
	    </div>-->
	    <div class="form-group">
	      <label for="p_iva">Partita IVA</label>
	      <input type="text" class="form-control" name="p_iva" value="{{ cliente.p_iva if cliente != None else '' }}" />
	    </div>
	    <div class="form-group">
	      <label for="cod_fiscale">Codice Fiscale</label>
	      <input type="text" class="form-control" name="cod_fiscale" value="{{ cliente.cod_fiscale if cliente != None else '' }}" />
	    </div>
	    <div class="form-group">
	      <label for="telefono">Telefono</label>
	      <input type="text" class="form-control" name="telefono" value="{{ cliente.telefono if cliente != None else '' }}" />
	    </div>
	    <div class="form-group">
	      <label for="email">Email</label>
	      <input type="email" class="form-control" name="email" value="{{ cliente.email if cliente != None else '' }}" />
	    </div>
	    <a href="javascript:history.back();" type="button" class="btn btn-default btn-md">&laquo; Indietro</a>
	    <input type="submit" class="btn btn-success btn-md" value="Salva" />
	  </form>
	</div>
      </div>
    </div>
{% endblock %}