{% extends "layout.html" %}
{% block body %}
  <h1 class="page-header">Clienti</h1>
  <ul class="pager">
    {% if page > 0 %}
    <li><a href="{{url_for('clienti', page=page-1) }}">Pag. precedente</a></li>
    {% endif %}
    <li><a href="{{url_for('clienti', page=page+1) }}">Pag. successiva</a></li>
  </ul>
  <p align="center">Pagina {{ page+1 }}</p>
  <p>
    <form method="POST" action="{{ url_for('cerca_cliente') }}">
      <label for="nominativo">Cerca per nominativo:</label>&nbsp;
      <input type="text" name="query" value="" />&nbsp;
      <input type="submit" class="btn btn-primary btn-md" value="Cerca" />
    </form>
  </p>
  <br />
  <div class="table-responsive">
    <p><a href="{{ url_for('nuovo_cliente') }}" type="button" class="btn btn-success btn-sm">Nuovo cliente</a></p>
    <table class="table table-striped">
      <tr>
	<th>&nbsp;</th>
	<!--<th>codice</th>-->
	<th>rag. sociale</th>
	<th>indirizzo</th>
	<th>cap</th>
	<th>citta</th>
	<!--<th>prov</th>
	<th>p. iva</th>
	<th>codice fisc.</th>
	<th>telefono</th>
	<th>email</th>-->
      </tr>
      {% for cliente in clienti %}
	<tr>
	<td><a href="{{ url_for('cliente', id=cliente.id) }}" type="button" class="btn btn-default btn-sm">Modifica</a></td>
	<!--<td>{{cliente.codice}}</td>-->
	<td>{{ cliente.ragsoc }}</td>
	<td>{{ cliente.indirizzo }}</td>
	<td>{{ cliente.cap }}</td>
	<td>{{ cliente.citta }}</td>
	<!--<td>{{ cliente.provincia }}</td>
	<td>{{ cliente.p_iva }}</td>
	<td>{{ cliente.cod_fiscale }}</td>
	<td>{{ cliente.telefono }}</td>
	<td>{{ cliente.email }}</td>-->
	</tr>
      {% else %}
	<li><em>Nessun cliente.</em>
      {% endfor %}
  </table>
  
{% endblock %}