{% extends "layout.html" %}
{% block actions %}
	<!-- <input type="submit" onClick="$('#form1').submit();" class="btn btn-success" name="salva_fattura" value="Salva" formnovalidate /> -->
{% endblock %}
{% block body %}
  <h3 class="page-header">
    Emissione Fattura
  </h3>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Cliente</div>
      <div class="panel-body">
        <div id="intestazione" style="text-align:left">
          <div>
            <h4>{{ cliente.ragsoc }}</h4>
            {{ cliente.indirizzo }} {{ cliente.cap }} {{ cliente.citta }}
          </div>
          <div>
            <label>Partita IVA</label> {{ cliente.p_iva }}
          </div>
          <div>
            <label>Codice Fiscale</label> {{ cliente.cod_fiscale }}
          </div>
          <div>
            <label>Telefono</label> {{ cliente.telefono }}
          </div>
          <div>
            <label>Email</label> {{ cliente.email }}
          </div>
        </div>
        <a href="{{url_for('cambia_cliente_fattura', idfatt=idfatt, idcli=0)}}"><span class="glyphicon glyphicon-search"></span> Cambia</a>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
	Fattura
      </div>
      <div class="panel-body">
	<form method="POST" class="form-inline" action="#form">
	  <div class="input-group col-xs-2">
	    <label for="dtfatt">Data Fattura</label>
	    <input type="date" size="80" id="dtfatt" name="dtfatt" class="form-control" 
	      value="{{ datafattura|dt('%Y-%m-%d') }}" />
	  </div><br />
	  <div class="input-group col-xs-2">
	    <label for="nfatt">N.ro Fattura</label>
	    <input type="number" readonly="readonly" id="nfatt" name="nfatt" size="80" class="form-control" value="{{ numfatt }}" />
	  </div><br />
	  <label for="scontr1">N. scontrini: </label><br />
	  <div class="input-group col-xs-2 {{ 'has-error has-feedback' if 'scontr1' in errors else '' }} ">
		<input type="number" min="1" id="scontr1" name="scontr1" class="form-control"
		  value="{{ n_scontr1 if n_scontr1 != 0 else ''}}" />
	  </div>
	  <div class="input-group col-xs-2 {{ 'has-error has-feedback' if 'scontr2' in errors else '' }} ">
		<input type="number" min="0" id="scontr2" name="scontr2" class="form-control" 
		  value="{{ n_scontr2 if n_scontr2 != 0 else ''}}" />
	  </div>
	  <div class="input-group col-xs-2 {{ 'has-error has-feedback' if 'scontr3' in errors else '' }} ">
		<input type="number" min="0" id="scontr3" name="scontr3" class="form-control"
		  value="{{ n_scontr3 if n_scontr3 != 0 else ''}}" />
	  </div><br /><br />
	  <table class="table">
	  <tr>
	    <th class="col-xs-1">Qta</th>
	    <th class="col-xs-1">Cod</th>
	    <th class="col-xs-8">Descrizione</th>
	    <th class="col-xs-1">P.U.</th>
		<th class="col-xs-1">Imponibile</th>
	    <th class="col-xs-1" style="text-align:center;">%</th>
	    <th class="col-xs-1">IVA</th>
	    <th class="col-xs-1">Tot</th>
	    <th class="col-xs-1" colspan="2">&nbsp;</th>
	  </tr>
	  {% for v in voci %}
	  <tr>
		<td>{{ v.qta }}</td>
		<td>{{ v.codart }}</td>
		<td>{{ v.descr }}</td>
		<td>{{ '%0.2f' % v.prezzo_unitario()|float }}</td>
		<td>{{ '%0.2f' % v.imponibile()|float }}</td>
		<td style="text-align:center;">{{ v.aliq }}</td>
		<td>{{ '%0.2f' % v.iva()|float }}</td>
		<td>{{ '%0.2f' % v.totale()|float }}</td>
		<td><a href="{{ url_for('rimuovi_voce', index=loop.index) }}" 
		  onclick="return confirm('Sei sicuro di voler eliminare la voce?');" 
		  title="Elimina"><span class="glyphicon glyphicon-remove"></span> </a></td>
		<td><a href="{{ url_for('modifica_voce', index=loop.index) }}" 
		  title="Modifica"><span class="glyphicon glyphicon-pencil"></span> </a></td>
	  </tr>
	  {% endfor %}
	  <tr>
		<th colspan="4">&nbsp;</th>
		<th>{{ '%0.2f' % imponibile|float }}</th>
		<th>&nbsp;</th>
		<th>{{ '%0.2f' % iva|float }}</th>
		<th>{{ '%0.2f' % totale|float }}</th>
		<th>&nbsp;</th>
	  </tr>
	</table>
	
	<!-- Aggiungi nuova voce -->
	<a name="form"></a>
	<input type="hidden" name="id_cliente" value="{{ cliente.id }}" />
	<input type="hidden" name="idx_voce" value="{{ idx_voce }}" />
	<div class="input-group col-xs-2 {{ 'has-error has-feedback' if 'qta' in errors else '' }}">
	      <input id="qta" type="number" class="form-control" name="qta" min="1" value="{{qta if qta > 0 else ''}}" 
		placeholder="qta" />
	</div>
	<div class="input-group col-xs-1" style="display:none;">
	      <input id="codart" type="text" class="form-control" name="codart" value="{{codart}}" 
		readonly="readonly" />
	</div>
	<div class="input-group col-xs-5 {{ 'has-error has-feedback' if 'descr' in errors else '' }}">
	      <input id="descr" type="text" class="form-control" name="descr" value="{{descr}}"
		placeholder="descrizione" data-provide="typeahead" />
	</div>
	<div class="input-group col-xs-2 {{ 'has-error has-feedback' if 'prz' in errors else '' }}">
	      <input id="prz" type="text" class="form-control" name="prz" min="0.0" step="0.01" placeholder="prezzo" 
		value="{{prezzo if prezzo > 0 else ''}}" />
	</div>
	<div class="input-group col-xs-1 {{ 'has-error has-feedback' if 'aliq' in errors else '' }}">
	      <input id="aliq" type="number" min="0.0" step="1" class="form-control" name="aliq" value="{{'22' if aliq == '' else aliq}}" placeholder="IVA" />
	</div>
	<div class="input-group col-xs-1">
	  <input type="submit" class="btn btn-info" name="aggiungi_voce" value="{{'Modifica' if idx_voce > 0 else 'Aggiungi'}}" />
	</div>
	{% if idx_voce > 0 %}
	  <div class="input-group col-xs-1">
	    <a href="{{url_for('componi_fattura', _anchor='form')}}" class="btn btn-default">Annulla</a>  
	  </div>  
	{% endif %}
      </div>
      <div class="actions" style="text-align:left;padding-left:16px;margin-top: 50px;">
        <input type="submit" class="btn btn-success" name="salva_fattura" value="Salva" formnovalidate />
		<a onclick="return confirm('Annullare l\'inserimento della fattura?');" href="{{url_for('annulla_fattura')}}" class="btn btn-default">Annulla</a>
      </div>
    </div>
    <!-- <div class="panel panel-default"> -->
    <!-- <div class="panel-heading"> -->
	<!-- Operazioni -->
      <!-- </div> -->
      <!-- <div class="panel-body" align="center"> -->
		<!-- <input type="submit" class="btn btn-success" name="salva_fattura" value="Salva" formnovalidate /> -->
		<!-- <a href="{{url_for('annulla_fattura')}}" class="btn btn-default">Annulla</a> -->
      <!-- </div> -->
    <!-- </div> -->
    </form>
  </div>
  <script type="text/javascript">
	
	/*$( document ).ready(function() {
		$("#qta").focus();
		alert('document ready!');
	});*/
	
    var $input = $("#descr");
        
    $input.typeahead({
      source: function(query, process) {
		return $.getJSON(
		  "prodotti.json",
		  function (data) {
			var newData = [];
			$.each(data, function() {
			  sprz = String(this.prezzo);
			  tdescr = $.trim(this.descr);
			  cod = String(this.codice);
			  aliq = String(this.aliq);
			  alias = tdescr + ' (' + sprz + ')'
			  dict = {id: this.artid, descr : tdescr, name: alias, price: sprz, cod : cod, aliq : aliq}
			  newData.push(dict);
			});
			return process(newData);
		  });
      },
      afterSelect : function(current) {
		if(current) {
		  $('#prz').val(current.price);
		  $('#aliq').val(current.aliq);
		  $('#codart').val(current.cod);
		  $input.val(current.descr);
		}
      },
      items	: 6,
      autoSelect: false
    });
	
    $input.change(function() {
      var prz = 0.0;
      var cod = '';
      var aliq = 22;
      if($input.val() == '') {     
		$('#prz').val(prz);
		$('#aliq').val(aliq);
		$('#codart').val(cod);
      }
    });
	
  </script>
{% endblock %}