{% extends "layout.html" %}
{% set current="clienti" %}
{% block actions %}
    <div>
        <a href="{{ url_for('cliente', id=cliente.id) }}"  class="btn btn-default btn-sm">&laquo; Torna indietro</a>
        <a href="{{ url_for('nuova_fattura', id_cliente=cliente.id) }}" class="btn btn-sm btn-success" title="Nuova fattura">
            <span class="glyphicon glyphicon-plus-sign"></span> Nuova fattura
        </a>
        Record trovati: <span class="badge">{{ cnt }}</span> 
    </div>
{% endblock %}
{% block body %}
	<h3 class="page-header">Fatture emesse per {{ cliente.ragsoc }}</h3>
    {% if cnt > 0 %}
	<div class="table-responsive">
	  <table class="table table-striped">
	<tr>
	  <th>&nbsp;</th>
	  <th>data</th>
	  <th>numero</th>
	  <th style="text-align:right;">N.scontr. 1</th>
	  <th style="text-align:right;">N.scontr. 2</th>
	  <th style="text-align:right;">N.scontr. 3</th>
	  <th style="text-align:right;">importo</th>
	</tr>
	{% for f in fatture %}
	  <tr>
		<td>&nbsp;</td>
		<td><a href="{{url_for('vis_fattura',idfatt=f.id) }}">{{ f.data|dt }}</a></td>
		<td>{{ f.num }}</td>
		<td style="text-align:right;">{{ f.n_scontr1 }}</td>
		<td style="text-align:right;">{{ f.n_scontr2 }}</td>
		<td style="text-align:right;">{{ f.n_scontr3 }}</td>
		<td style="text-align:right;">{{ '%0.2f' % f.totale()|float }}</td>
	  </tr>
	{% endfor %}
	  </table>
	</div>
	{% else %}
	<em>Nessuna fattura.
	{% endif %}
	<ul class="pager">
	{% if page > 0 %}
	  <li><a href="{{url_for('fatture_cliente',id=cliente.id, page=page-1) }}">Pag. precedente</a></li>
	{% endif %}
	{% if page < last_page %}
	  <li><a href="{{url_for('fatture_cliente',id=cliente.id, page=page+1) }}">Pag. successiva</a></li>
	{% endif %}
	</ul>
	<p align="center">Pagina {{ page+1 }} di {{ last_page+1 }}</p>
{% endblock %}