{% extends "layout.html" %}
{% block actions %}
    <div style="text-align: left;">
        <a href="{{ url_for('main') }}" class="btn btn-default">&laquo; Indietro</a>
        <a href="{{url_for('invia_tutte')}}" class="btn btn-success {{'disabled' if fatture_da_inviare|count == 0 else '' }}">
            <span class="glyphicon glyphicon-envelope"></span> Invia <span class="badge">{{fatture_da_inviare|count}}</span></a>
    </div>
{% endblock %}
{% block body %}
  <h3 class="page-header">Fatture da inviare</h3>
  
  {% if errors|length > 0 %}
	  <div id="errors">
		<ul>
		{% for e in errors %}
			<li>{{ e }}</li>
		{% endfor %}
		</ul>
	  </div>
  {% endif %}
  
  <div class="table-responsive">
    {% if cnt > 0 %}
      <table class="table table-striped">
	<tr>
	  <th>Fatt. n</th>
	  <th>Data</th>
	  <th>Cliente</th>
	  <th>Email</th>
	  <th>Importo</th>
	  <th>&nbsp;</th>
	</tr>
	{% for inv in fatture_da_inviare %}
	  <tr>
	    <td>{{inv.fattura.num}}</td>
	    <td>{{inv.fattura.data|dt('%d/%m/%Y')}}</td>
	    <td>{{inv.fattura.cliente.ragsoc}}</td>
	    <td>{{inv.email}}</td>
	    <td>{{'%0.2f' % inv.fattura.totale()|float}}</td>
	    <td><a onclick="return confirm('Sei sicuro di voler annullare l\'invio della fattura?');" 
				href="{{url_for('annulla_invio', id=inv.id)}}">Annulla</a></td>
	  </tr>
	{% endfor %}
      </table>
    {% else %}
      <p>Nessuna fattura da inviare</p>
    {% endif %}
  </div>
{% endblock %}