{% extends "layout.html" %}
{% set current="fatture_inviate" %}
{% block actions %}
    <div style="text-align: left;">
        <a href="{{ url_for('main') }}" class="btn btn-default btn-sm">&laquo; Torna indietro</a>
        <a href="#" onclick="window.print(); return false;" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-print"></span> Stampa</a>
    </div>
{% endblock %}
{% block body %}
  <h3 class="page-header">Fatture inviate</h3>
  
  {% if errors|length > 0 %}
	  <div id="errors">
		<ul>
		{% for e in errors %}
			<li>{{ e }}</li>
		{% endfor %}
		</ul>
	  </div>
  {% endif %}
  
  <div class="table-responsive">
    {% if cnt > 0 %}
      <table class="table table-striped">
	<tr>
	  <th>Fatt. n</th>
	  <th>Data Invio</th>
	  <th>Cliente</th>
	  <th>Email</th>
	  <th>Importo</th>
	  <th>Esito</th>
	</tr>
	{% for inv in fatture_inviate %}
	  <tr>
	    <td>{{inv.fattura.num}}</td>
	    <td>{{inv.data_invio|dt('%d/%m/%Y')}}</td>
	    <td>{{inv.fattura.cliente.ragsoc}}</td>
	    <td>{{inv.email}}</td>
	    <td>{{'%0.2f' % inv.fattura.totale()|float}}</td>
		<td><span class="glyphicon {{'glyphicon-ok' if inv.esito == '0' else 'glyphicon-remove'}}">&nbsp;</span></td>
	  </tr>
	{% endfor %}
      </table>
    {% else %}
      <p>Nessuna fattura inviata</p>
    {% endif %}
  </div>
{% endblock %}