{% extends "layout.html" %}
{% block actions %}
    <div>
        <a href="{{ url_for('main') }}" class="btn btn-default">&laquo; Indietro</a>
        <a href="{{url_for('invia_tutte')}}" class="pull-right btn btn-success {{'disabled' if fatture_da_inviare|count == 0 else '' }}">
            <span class="glyphicon glyphicon-envelope"></span> Invia <span class="badge">{{fatture_da_inviare|count}}</span></a>
    </div>
{% endblock %}
{% block body %}
  <h3 class="page-header">Fatture da inviare</h3>
  
  {% if errors|length > 0 %}
	  <div id="errors">
		<ul>
		{% for e in errors %}
			<li>{{ e }}</li>
		{% endfor %}
		</ul>
	  </div>
  {% endif %}
  
  <div class="table-responsive">
    {% if cnt > 0 %}
      <table class="table table-striped">
	<tr>
	  <th>Fatt. n</th>
	  <th>Data</th>
	  <th>Cliente</th>
	  <th>Email</th>
	  <th>Importo</th>
	  <th>&nbsp;</th>
	</tr>
	{% for inv in fatture_da_inviare %}
	  <tr>
	    <td>{{inv.fattura.num}}</td>
	    <td>{{inv.fattura.data|dt('%d/%m/%Y')}}</td>
	    <td>{{inv.fattura.cliente.ragsoc}}</td>
	    <td>{{inv.email}}&nbsp;&nbsp;&nbsp;<a href="#" onclick="modificaEmail({{inv.fattura.num}}, '{{inv.fattura.data|dt()}}', {{inv.id}}, '{{inv.fattura.cliente.ragsoc}}', '{{inv.email}}');" title="modifica" data-toggle="modal" data-target="#myModal">
			<span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td>{{'%0.2f' % inv.fattura.totale()|float}}</td>
	    <td><a onclick="return confirm('Sei sicuro di voler annullare l\'invio della fattura?');" 
				href="{{url_for('annulla_invio', id=inv.id)}}">Annulla</a></td>
	  </tr>
	{% endfor %}
      </table>
    {% else %}
      <p>Nessuna fattura da inviare</p>
    {% endif %}
  </div>
  
 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modifica email di invio</h4>
			</div>
			<form action="{{url_for('modifica_email_invio', next=request.url_rule)}}" method="POST">
				<div class="modal-body">		
					<p>Fattura n&deg; <span id="fattnum"></span> del <span id="fattdata"></span> intestata a <span id="ragione_sociale"></span></p>
					<label for="email">Email di invio:</label>
					<input class="form-control" id="txtEmail" type="email" name="email" />
					<input type="hidden" id="txtId" name="id" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
					<input type="submit" class="btn btn-success" value="Conferma" />
				</div>
		  </form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type=text/javascript>
function modificaEmail(num, data, idInvio, ragsoc, email) {
	$('#ragione_sociale').text(ragsoc);
	$('#fattnum').text(num);
	$('#fattdata').text(data);
	$('#txtId').val(idInvio);
	$('#txtEmail').val(email);
}

$('#myModal').on('shown.bs.modal', function() {
  $('#txtEmail').focus();
})
</script>
{% endblock %}