{% extends "form_date.html" %}
{% block others %}
	<div class="form-group row {{ 'has-error has-feedback' if 'nro_da' in errors else '' }}">
		<div class="col-xs-1">
			<label for="nro_da">Da n&deg;</label>
			<input type="number" min="1" step="1" class="form-control" name="nro_da" value="" />
		</div>
		<div class="col-xs-1">
			<label for="nro_a">A n&deg;</label>
			<input type="number" min="1" step="1" class="form-control" name="nro_a" value="" />
		</div>
		<div class="col-xs-2">
			<label for="anno">Anno</label>
			<input type="number" min="2000" step="1" class="form-control" name="anno" value="{{anno}}" />
		</div>
	</div>
{% endblock %}