{% extends "layout.html" %}
{% block actions %}
    <div style="text-align: left;">
		<a href="{{url_for('main')}}" title="Esci" class="btn btn-default" type="button">&laquo; Esci</a>
        <a href="#" onclick="submitForm();" title="Salva" class="btn btn-success" type="button">
            <span class="glyphicon glyphicon-floppy-disk"></span> Salva
        </a>
    </div>
{% endblock %}
{% block body %}
	<h3 class="page-header">Configurazione e-mail</h3>
	<div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ conf.email }}
            </div>
            <div class="panel-body">
				<form method="post" id="form1">
					<input type="hidden" name="id" readonly="readonly" value="{{ conf.id }}" />
					<div class="form-group {{ 'has-error has-feedback' if 'email' in errors else '' }}">
						<label for="email">Indirizzo e-mail</label>
						<input type="email" class="form-control" name="email" value="{{ conf.email }}" />
					</div>
					<div class="form-group {{ 'has-error has-feedback' if 'nome' in errors else '' }}">
						<label for="nome">Nome visualizzato</label>
						<input type="text" class="form-control" name="nome" value="{{ conf.nome }}" />
					</div>
					<div class="form-group {{ 'has-error has-feedback' if 'username' in errors else '' }}">
						<label for="username">Username</label>
						<input type="text" class="form-control" name="username" value="{{ conf.username }}" />
					</div>
					<div class="form-group {{ 'has-error has-feedback' if 'password' in errors else '' }}">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" value="{{ conf.password }}" />
					</div>
					<div class="form-group {{ 'has-error has-feedback' if 'server' in errors else '' }}">
						<label for="server">Server di invio</label>
						<input type="text" class="form-control" name="server" value="{{ conf.server }}" />
					</div>
					<div class="form-group {{ 'has-error has-feedback' if 'porta' in errors else '' }}">
						<label for="porta">Porta</label>
						<input type="number" min="1" max="65535" step="1" class="form-control" name="porta" value="{{ conf.porta }}" />
					</div>
					<div class="form-group">
						<input type="checkbox" name="ssl" {% if conf.ssl %} checked {% endif %} />
						<label>SSL</label>
					</div>
					<div class="form-group">
						<input type="checkbox" name="tls" {% if conf.tls %} checked {% endif %} />
						<label>TLS</label>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function submitForm() {
		if(confirm('Salvare i dati?')) {
			$("#form1").submit();
		}
	}
	</script>
{%endblock%}