{% extends "layout.html" %}
{% block actions %}
   <div style="text-align: left;">
        <a href="{{ url_for('liste_distribuzione') }}" class="btn btn-default">&laquo; Esci</a>
        &nbsp;&nbsp;&nbsp;&nbsp;Record trovati: <span class="badge">{{ cnt }}</span>
		<div class="input-group col-md-auto pull-right">
			<a href="{{ url_for('ricerca_clienti', next='aggiungi_membro', new=1, id_lista=id, done='lista_distribuzione', done_arg=id) }}" class="btn btn-success">
				<span class="glyphicon glyphicon-plus"></span> Aggiungi</a>&nbsp;&nbsp;&nbsp;
		</div>
    </div>
{% endblock %}
{% block body %}
	<h3 class="page-header">Modifica lista di distribuzione</h3>
	<div class="table-responsive hidden-print">
		<form action="{{ url_for('rinomina_lista_distribuzione', id=id) }}" method="POST" id="frm-nome">
			<div class="col-md-5 form-group {{ 'has-error has-feedback' if 'nome' in errors else '' }}">
				<input type="text" class="form-control" name="nome" value="{{ nome }}" />
			</div>
			<div class="form-group col-md-2">
				<a class="btn btn-sm btn-default" href="#" onclick="return rinomina();">Rinomina</a>
			</div>
		</form>
		<table border="0" class="table table-striped">
			<tr>
				<th width="50%">Nome</th>
				<th width="45%">Email</th>
				<th >&nbsp;</th>
			</tr>
			{% for m in membri %}
			<tr>
				<td>{{ m.cliente.ragsoc }}</a></td>
				<td>{{ m.email }}</td>
				<td width="5%">
					<a onclick="return confirm('Eliminare {{ m.cliente.ragsoc }} dalla lista?');" href="{{ url_for('rimuovi_membro', id_lista=id, id_membro=m.id) }}" class="btn btn-xs btn-danger">
				<span class="glyphicon glyphicon-minus"></span> Rimuovi</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<script type="text/javascript">
	function rinomina() {
		var form=$("#frm-nome");
		form.submit();
		return true;
	}
	</script>
{% endblock %}