{% extends "layout.html" %}
{% block actions %}
   <div style="text-align: left;">
        <a href="{{ url_for('main') }}" class="btn btn-default">&laquo; Esci</a>
        &nbsp;&nbsp;&nbsp;&nbsp;Record trovati: <span class="badge">{{ cnt }}</span>
		<!-- <a href="#" id="btnElimina" onclick="return submitForm();" class="btn btn-danger disabled pull-right">Elimina&nbsp;<span class="badge" id="selezionati">0</span></a> -->
		<div class="input-group col-md-auto pull-right">
			<a href="{{ url_for('nuova_lista_distribuzione') }}" class="btn btn-success">
				<span class="glyphicon glyphicon-asterisk"></span> Nuova</a>&nbsp;&nbsp;&nbsp;
		</div>
    </div>
{% endblock %}
{% block body %}
	<h3 class="page-header">Liste di distribuzione</h3>
	<div class="table-responsive hidden-print">
		<table border="0" class="table table-striped">
			<tr>
				<!-- <th width="5%">ID</th> -->
				<th width="40%">Nome</th>
				<th width="25%">Membri</th>
				<th width="25%">Creata il</th>
				<th width="10%">&nbsp;</th>
			</tr>
			{% for ld in liste %}
			<tr>
				<!-- <td>{{ld.id}}</td> -->
				<td><a href="{{ url_for('lista_distribuzione', id=ld.id) }}">{{ld.nome}}</a></td>
				<td>{{ld.membri.count()}}</td>
				<td>{{ld.data_creazione|dt}}</td>
				<td style="text-align:right;"><a class="btn btn-sm btn-danger" onclick="return confirm('Eliminare la lista?');" 
						href="{{ url_for('elimina_lista_distribuzione', id=ld.id) }}"><span class="glyphicon glyphicon-trash"></span> Elimina</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}