{% extends "layout.html" %}
{% block body %}
  <h1 class="page-header">Articoli</h1>
  <br />
  <div class="table-responsive">
    <p><a href="{{url_for('nuovo_prodotto') }}" type="button" class="btn btn-success btn-sm">Nuovo articolo</a></p>
    <table class="table table-striped">
      <tr>
	<th>codice</th>
	<th>descrizione</th>
	<th>IVA</th>
	<th style="text-align:right;">prezzo</th>
      </tr>
      {% for p in prodotti %}
	<tr>
	  <td>{{ p.codice }}</td>
	  <td><a href="{{ url_for('prodotto', id=p.id) }}">{{ p.descr }}</a></td>
	  <td>{{ p.aliq }}</td>
	  <td style="text-align:right;">{{ p.prezzo }}</td>
	</tr>
      {% else %}
	<li><em>Nessun prodotto.</em>
      {% endfor %}
  </table>
  
{% endblock %}