{% extends "layout.html" %}
{% block actions %}
<div>
    <a href="{{url_for('fatture_cliente', id=fattura.cliente.id, page=0)}}" class="btn btn-default btn-sm">&laquo; Indietro</a>
    <a href="{{url_for('stampa_fattura', idfatt=fattura.id)}}" target="_blank" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-print"></span> Stampa
    </a>
    <a href="{{url_for('invia_fattura', idfatt=fattura.id, next=url_for('fatture_cliente',id=fattura.cliente.id,page=0))}}" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-envelope"></span> Invia
    </a>
    <a href="{{url_for('modifica_fattura', id=fattura.id)}}#form" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-pencil"></span> Modifica
    </a>
	
	<a href="{{url_for('invio_fattura_elettronica', idfatt=fattura.id, next=url_for('fatture_cliente',id=fattura.cliente.id,page=0))}}" 
			class="pull-right btn btn-{{ 'info' if trasmissibile else 'default' }} btn-sm {{ '' if trasmissibile else 'disabled' }}" >
        <span class="glyphicon glyphicon-euro"></span> {% if trasmissibile %} Prenota trasmissione ad AGYO {% else %} Trasmissione ad Agyo prenotata {% endif %}
    </a>
	{% if gia_trasmessa and trasmissibile  %}
	<div class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div class="alert-sm alert-warning pull-right" style="padding: 6px;">
        Gi&agrave; trasmessa ad AGYO il {{data_ultima_trasmissione|dt}}
    </div>
	{% endif %}
    <!-- <a href="{{url_for('stampa_fattura', idfatt=fattura.id)}}" target="_blank" class="btn btn-default">Stampa</a> -->
    <!-- <a href="{{url_for('invia_fattura', idfatt=fattura.id, next=url_for('fatture_cliente',id=fattura.cliente.id,page=0))}}" class="btn btn-default">Invia</a> -->
    <!-- <a href="{{url_for('modifica_fattura', id=fattura.id)}}#form" class="btn btn-primary">Modifica</a> -->
</div>
{% endblock %}
{% block body %}
  <h3 class="page-header">
    Visualizza Fattura
  </h3>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        Cliente
      </div>
      <div class="panel-body">
        <div id="intestazione" style="text-align:left">
          <div>
            <h4>{{ fattura.cliente.ragsoc }}</h4>
            {{ fattura.cliente.indirizzo }} {{ fattura.cliente.cap }} {{ fattura.cliente.citta }}
          </div>
          <div>
            <label>Partita IVA</label> {{ fattura.cliente.p_iva }}
          </div>
          <div>
            <label>Cod. destinatario</label> {{ fattura.cliente.cod_destinatario }}
          </div>
          <div>
            <label>Codice Fiscale</label> {{ fattura.cliente.cod_fisc }}
          </div>
          <div>
            <label>Telefono</label> {{ fattura.cliente.tel }}
          </div>
          <div>
            <label>Email</label> {{ fattura.cliente.email }}
          </div>
          <div>
            <label>PEC</label> {{ fattura.cliente.pec }}
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
	Fattura
      </div>
      <div class="panel-body">
	<div>
	  <input type="hidden" id="GiaTrasmessa" value="{{gia_trasmessa}}" />
	  <label>Data Fattura</label> {{ fattura.data|dt }}<br />
	  <label>N.ro Fattura</label> {{ fattura.num }}<br />
	  <label for="scontr1">N. scontrini: </label>&nbsp;{{ fattura.n_scontr1 if fattura.n_scontr1 != 0 else ''}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  {{ fattura.n_scontr2 if fattura.n_scontr2 != 0 else ''}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  {{ fattura.n_scontr3 if fattura.n_scontr3 != 0 else ''}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<table class="table">
	  <tr>
	    <th class="col-xs-1">Qta</th>
	    <th class="col-xs-1">Cod</th>
	    <th class="col-xs-8">Descrizione</th>
		<th class="col-xs-1">P.U.</th>
	    <th class="col-xs-1" style="text-align:right;">Imponibile</th>
	    <th class="col-xs-1" style="text-align:center;">%</th>
	    <th class="col-xs-1" style="text-align:right;">IVA</th>
	    <th class="col-xs-1" style="text-align:right;">Tot</th>
	  </tr>
	  {% for v in fattura.voci %}
	  <tr>
	    <td>{{ v.qta }}</td>
	    <td>{{ v.codart }}</td>
	    <td>{{ v.descr }}</td>
		<td>{{ '%0.2f' % v.prezzo_unitario()|float }}</td>
	    <td style="text-align:right;">{{ '%0.2f' % v.imponibile_nr()|float }}</td>
	    <td style="text-align:center;">{{ v.aliq }}</td>
	    <td style="text-align:right;">{{ '%0.2f' % v.iva_nr()|float }}</td>
	    <td style="text-align:right;">{{ '%0.2f' % v.totale_nr()|float }}</td>
	  </tr>
	  {% endfor %}
	  <tr>
	    <th colspan="4">&nbsp;</th>
	    <th style="text-align:right;">{{ '%0.2f' % fattura.imponibile_nr()|float }}</th>
	    <th>&nbsp;</th>
	    <th style="text-align:right;">{{ '%0.2f' % fattura.iva_nr()|float }}</th>
	    <th style="text-align:right;">{{ '%0.2f' % fattura.totale_nr()|float }}</th>
	  </tr>
	</table>
        <!-- <div class="actions" style="text-align:center;"> -->
            <!-- <a href="{{url_for('modifica_fattura', id=fattura.id)}}#form" class="btn btn-primary"> -->
				<!-- <span class="glyphicon glyphicon-pencil"></span> Modifica -->
			<!-- </a> -->
			<!-- <a href="{{url_for('stampa_fattura', idfatt=fattura.id)}}" target="_blank" class="btn btn-default"> -->
				<!-- <span class="glyphicon glyphicon-print"></span> Stampa -->
			<!-- </a> -->
			<!-- <a href="{{url_for('invia_fattura', idfatt=fattura.id, next=url_for('fatture_cliente',id=fattura.cliente.id,page=0))}}"  -->
			   <!-- class="btn btn-default"> -->
				<!-- <span class="glyphicon glyphicon-envelope"></span> Invia -->
			<!-- </a> -->
            <!-- <!-- <a href="{{url_for('stampa_fattura', idfatt=fattura.id)}}" target="_blank" class="btn btn-default">Stampa</a> -->
            <!-- <!-- <a href="{{url_for('invia_fattura', idfatt=fattura.id, next=url_for('fatture_cliente',id=fattura.cliente.id,page=0))}}" class="btn btn-default">Invia</a> -->
            <!-- <!-- <a href="{{url_for('modifica_fattura', id=fattura.id)}}#form" class="btn btn-primary">Modifica</a> -->
            <!-- <a href="{{url_for('fatture_cliente', id=fattura.cliente.id, page=0)}}" class="btn btn-default">Esci</a> -->
        <!-- </div> -->
      </div>
    </div>
    <!-- <div class="panel panel-default"> -->
    <!-- <div class="panel-heading"> -->
	<!-- Operazioni -->
      <!-- </div> -->
      <!-- <div class="panel-body" align="left"> -->
			<!-- <a href="{{url_for('modifica_fattura', id=fattura.id)}}#form" class="btn btn-primary"> -->
				<!-- <span class="glyphicon glyphicon-pencil"></span> Modifica -->
			<!-- </a> -->
			<!-- <a href="{{url_for('stampa_fattura', idfatt=fattura.id)}}" target="_blank" class="btn btn-default"> -->
				<!-- <span class="glyphicon glyphicon-print"></span> Stampa -->
			<!-- </a> -->
			<!-- <a href="{{url_for('invia_fattura', idfatt=fattura.id, next=url_for('fatture_cliente',id=fattura.cliente.id,page=0))}}"  -->
			   <!-- class="btn btn-default"> -->
				<!-- <span class="glyphicon glyphicon-envelope"></span> Invia -->
			<!-- </a> -->
		<!-- <!-- <a href="{{url_for('stampa_fattura', idfatt=fattura.id)}}" target="_blank" class="btn btn-default">Stampa</a> -->
		<!-- <!-- <a href="{{url_for('invia_fattura', idfatt=fattura.id, next=url_for('fatture_cliente',id=fattura.cliente.id,page=0))}}" class="btn btn-default">Invia</a> -->
		<!-- <!-- <a href="{{url_for('modifica_fattura', id=fattura.id)}}#form" class="btn btn-primary">Modifica</a> -->
		<!-- <a href="{{url_for('fatture_cliente', id=fattura.cliente.id, page=0)}}" class="btn btn-default">Esci</a> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
{% endblock %}